table{
    background-color:darkcyan;
    border-radius: 10px;
}
label{
    color: rgb(189, 237, 100);
    font-size: 20px;
    font-family: sans-serif;
    font-weight: bold;

}
*{
    padding: 10px;

}
#b2{
    color: black;
    font-weight: bold;
}
#b1{
    color:green;
    font-weight: bold;
}